<form method="post" action="{{ path('app_veterinarian_delete', {'id': veterinarian.id}) }}" onsubmit="return confirm('Realmente deseja deletar esse item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ veterinarian.id) }}">
    <button class="btn btn-danger" >Deletar</button>
    <a class="btn" href="{{ path('app_veterinarian_edit', {'id': veterinarian.id}) }}">Editar</a>
    <a class="btn" href="{{ path('app_veterinarian_index') }}">Voltar a lista</a>
</form>
