{% extends 'base.html.twig' %}

{% block title %}Adição de Veterinario{% endblock %}

{% block body %}
    <div class =  "container">
        <h1>Adicionar novo Veterinarian</h1>
        {{ include('veterinarian/_form.html.twig') }}
    </div>
{% endblock %}
