.linkPaginas {
    color: #0b0c0c; /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado */
    background-color: #3498db;
    padding: 10px; /* Adiciona um pouco de espaço ao redor do texto */
    transition: background-color .3s, color .3s; /* Adiciona uma transição suave à cor de fundo e à cor do texto */
}

.linkPaginas:hover {
    background-color: #3498db; /* Muda a cor de fundo quando o mouse passa por cima */
    color: #ffffff; /* Muda a cor do texto quando o mouse passa por cima */
}
