h1 {
    color: #343a40;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #dee2e6;
    padding: 0px;
    text-align: left;
}

th {
    background-color: #e9ecef;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
