{% extends 'base.html.twig' %}

{% block title %}Adicionar Bovino{% endblock %}


{% block body %}
    <div class="container-fluid">
        <h1>Adicionar Novo Bovino</h1>
        {{ include('cow/_form.html.twig') }}
   </div>
{% endblock %}
