{% extends 'base.html.twig' %}

{% block title %}Adicionar Fazenda{% endblock %}

{% block body %}
    <div class="container">
        <h1>Adicionar nova Fazenda</h1>

        {{ include('farm/_form.html.twig') }}
    </div>
{% endblock %}
