{% extends 'base.html.twig' %}

{% block title %}Adicionar Fazenda{% endblock %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <h1>Adicionar nova Fazenda</h1>
    {{ include('farm/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>
        $(function(){
            $('.select-vet').select2();
        })
    </script>
{% endblock %}